html {
  overflow: hidden;
}
.container {
  position: relative;
  .positionIcon {
    position: absolute;
    right: 10px;
    top: -33px;
    font-size: 21px;
    color: #1677ff;
  }

  :global {
    .adm-calendar-cell-bottom {
      color: #ff3141;
      transform: scale(1.4);
    }
  }
}
